# Allow xiaomi_settings to read and write to sysfs_vibrator
get_prop(devicesettings_app, deviceparts_prop)
set_prop(devicesettings_app, deviceparts_prop)
allow devicesettings_app kcal_dev:dir search;
allow devicesettings_app kcal_dev:file rw_file_perms;
